<header>
  <mat-toolbar class="header-bar">
    <mat-form-field class="search-mat-form-full-width" appearance="outline">
      <input type="text" placeholder="Search a user!" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <span class="spacer"></span>
    <button mat-button mat-raised-button color="primary">Create</button>
    <button mat-button mat-raised-button color="accent">Save</button>

  </mat-toolbar>
</header>



<!--<mat-toolbar color="primary" class="search-bar">-->
<!--  <mat-form-field color="primary" floatLabel="never">-->
<!--    <input matInput  placeholder="Search..."/>-->
<!--  </mat-form-field>-->
<!--  <button mat-icon-button matSuffix  matTooltip="New feed" matTooltipPosition="left">-->
<!--    <mat-icon>add_box</mat-icon>-->
<!--  </button>-->
<!--</mat-toolbar>-->
