<form [formGroup]="userEditForm" >
<div class="page-container">
  <div class="cards">
    <td>
      <app-text-input label='First Name' controlName='firstName' [placeHolder]="'Ex. John'"
      [conditionFirst]="userEditForm.get('firstName')?.hasError('pattern') && !userEditForm.get('firstName')?.hasError('required')"
      [conditionSecond]="userEditForm.get('firstName')?.hasError('required')"></app-text-input>
    </td>
    <td>
      <app-text-input label='Last Name' controlName='lastName' [placeHolder]="'Ex. Peter'"
                      [conditionFirst]="userEditForm.get('lastName')?.hasError('pattern') && !userEditForm.get('lastName')?.hasError('required')"
                      [conditionSecond]="userEditForm.get('lastName')?.hasError('required')"></app-text-input>
    </td>
    <td>
      <app-text-input label='Email' controlName='email' [placeHolder]="'Ex. johnpeter@example.com'"
                      [conditionFirst]="userEditForm.get('email')?.hasError('email') && !userEditForm.get('email')?.hasError('required')"
                      [conditionSecond]="userEditForm.get('email')?.hasError('required')"></app-text-input>
    </td>
    <td>
      <app-text-input label='Street' controlName='street' [placeHolder]="'Ex. Alameda Street'"
                      [conditionFirst]="userEditForm.get('street')?.hasError('pattern') && !userEditForm.get('street')?.hasError('required')"
                      [conditionSecond]="userEditForm.get('street')?.hasError('required')"></app-text-input>
    </td>
    <td>
      <app-text-input label='City' controlName='city' [placeHolder]="'Ex. California'"
                      [conditionFirst]="userEditForm.get('city')?.hasError('pattern') && !userEditForm.get('city')?.hasError('required')"
                      [conditionSecond]="userEditForm.get('city')?.hasError('required')"></app-text-input>
    </td>
    <td>
      <app-text-input label='Zip Code' controlName='zipCode' [placeHolder]="'Ex. 94105'"
                      [conditionFirst]="userEditForm.get('zipCode')?.hasError('pattern')"
                    ></app-text-input>
    </td>
    <td>
      <app-text-input label='Country' controlName='country' [placeHolder]="'Ex. USA'"
                      [conditionFirst]="userEditForm.get('country')?.hasError('pattern') && !userEditForm.get('country')?.hasError('required')"
                      [conditionSecond]="userEditForm.get('country')?.hasError('required')"></app-text-input>
    </td>
  </div>
</div>
</form>
