/* You can add global styles to this file, and also import other style files */
@import "variables";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button { margin: 0 4px;}
mat-icon { cursor: pointer;}
.footer {
  display: flex;
  min-height: 48px;
  background-color: $black;
  padding:14px 0px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 20;
  color: #fff;
  align-items: center;
  justify-content: center;
}



//Header styles

.header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  & .search-mat-form-full-width {
    width: 100%;
    flex-direction: row;
  }
  & .spacer {
    flex: 1 1 auto;
  }
}

