/* You can add global styles to this file, and also import other style files */
@import "variables";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button { margin: 0 4px;}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col {
  flex: 1;
  margin-right: 20px;
}
.full-width{
  width: $full-width;
}
mat-icon { cursor: pointer;}

.footer {
  display: flex;
  background-color: $black;
  padding:14px 0px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 20;
  color: #fff;
  align-items: center;
  justify-content: center;
}
header{
  position: fixed;
  z-index: 20;
  width: 100%;

}

.page-container{
  padding: 4rem 1rem;
}




//Header styles

.header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  & .search-mat-form-full-width {
    width: 100%;
    flex-direction: row;
  }
  & .spacer {
    flex: 1 1 auto;
  }
}

.cards {
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

@media (min-width: 600px) {
  .card { grid-template-columns: repeat(2, 1fr);  max-width: 500px }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

